<h1>Добро пожаловать в мой блог</h1>
<% @posts.each do |post|%>
	<h2><%= link_to post.title, post %></h2>
	<p>
		<%= truncate post.text%>
	</p>
	<p>
		<%= time_ago_in_words post.created_at%> назад
	</p>
<% end %>
<p>

    <%= link_to "Новое сообщение", new_post_path%>

</p>
