<h1><%= @post.title %></h1>
<p>
<%= @post.text %>
</p>

<h2>Комментарии</h2>
<% @post.comments.each do |comment| %>
<h4>
	<%= time_ago_in_words comment.created_at %> назад
</h4>
<p>
	<%= comment.text%>
</p>
	<%= link_to "Удалить комментарий", [@post, comment], :method => :delete, :confirm => "Вы уверены?"%>
<%end%>

<%= form_for [@post, @post.comments.build] do |f| %>
	<%= f.text_area :text, :size => "40x10"%>
	<br>
	<%= f.submit "Отправить комментарий"%>
<%end%>

<%= link_to "Назад", posts_path%>
|
<%= link_to "Редактировать", edit_post_path(@post)%>
|
<%= link_to "Удалить", @post, :method => :delete, :confirm => 'Вы уверены?'%>
